<div id="countries">
    {{#each countries}}
        <a href="countries/{{alpha2Code}}">
            <div class="country">
                <img src="images/flags/{{alpha3Code}}.svg" alt="{{name}}">
                <p>{{name}}</p>
            </div>
        </a>
    {{/each}}
</div>