<form id="search-input-container" action="/countries" method="get">
    <input id="search-input" name="search" value="{{search}}" placeholder="Search for a country..." autofocus>
    <input type="hidden" id="order-input" name="order" value="{{order}}">
</form>