<form id="search-input-container" action="/countries" method="get">
    <label for="search-input" class="label">Search: </label>
    <input id="search-input" name="search" value="{{search}}" placeholder="Netherlands for example..." autofocus>
    <input type="hidden" id="order-input" name="order" value="{{order}}">
    <input type="submit" id="search-input-submit" value="submit">
</form>