<form id="sort-container" action="/countries" method="get">
    <label for="sort-select">Sort by name:</label>
    <select id="sort-select" name="order" >
        <option value="asc" {{#if ascending}} selected{{/if}}>
            A-Z
        </option>
        <option value="desc" {{#unless ascending}} selected {{/unless}}>
            Z-A
        </option>
    </select>
    <input type="hidden" name="search" value="{{search}}">
</form>