<!DOCTYPE html>
<html>
<head>
    <title>Countries</title>
    <link rel="stylesheet" href="/css/main.min.css">
</head>
<body>
{{> search-form }}
{{> sort-form }}
{{> countries-list }}
</body>
</html>