<!DOCTYPE html>
<html lang="en">
<head>
    <title>Countries</title>
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="{{ manifest 'css/main.min.css' }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#1d3e53"/>
    <meta name="Description" content="An overview of all countries">
</head>
<body>
<header>
    {{> search-form }}
</header>
<main>
    <section>
        {{> sort-form }}
    </section>
    <article id="countries-container">
        {{> countries-list }}
    </article>
</main>
<script type="text/javascript" src="{{ manifest 'js/all.min.js' }}"></script>
<script type="text/javascript" src="/main.js"></script>
</body>
</html>