<!DOCTYPE html>
<html lang="en">
<head>
    <title>Countries</title>
    <link rel="stylesheet" href="/css/main.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#1d3e53"/>
    <meta name="Description" content="An overview of all countries">
</head>
<body>
<header>
    {{> search-form }}
</header>
{{> sort-form }}
<main>
    {{> countries-list }}
</main>
</body>
</html>