<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{country.name}}</title>
    <link rel="stylesheet" href="{{ manifest 'css/main.min.css' }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#1d3e53" />
    <meta name="Description" content="Details of a country">
</head>
<body>
<nav>
    <a href="/countries">Go back</a>
</nav>
{{> country-details}}
<script type="text/javascript" src="/main.js"></script>
</body>
</html>