<!DOCTYPE html>
<html>
<head>
    <title>{{country.name}}</title>
    <link rel="stylesheet" href="/css/main.min.css">
</head>
<body>
<nav>
    <a href="/countries">Go back</a>
</nav>
{{> country-details}}
</body>
</html>