<!DOCTYPE html>
<html lang="en">
<head>
    <title>Error</title>
    <link rel="stylesheet" href="/css/main.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#1d3e53" />
    <meta name="Description" content="Error page">
</head>
<body>
<div id="error-page-content">
    <span class="error-message">{{errorMessage}}</span>
    <a class="error-url" href="/">Back to home</a>
</div>
</body>
</html>