<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    <link rel="stylesheet" href="/css/main.min.css">
</head>
<body>
<div id="error-page-content">
    <span class="error-message">{{errorMessage}}</span>
    <a class="error-url" href="/">Back to home</a>
</div>
</body>
</html>